<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="/static/js/controller.js"></script>
    <script type="text/javascript" src="/static/js/view.js"></script>
</head>
<body>
    <input id="target" value="Vesta" /><button id="go">Go</button>
    <div id="map3d" style="height: 90%; width: 100%;"></div>
    <script>
    var results = {};
    function RemoveAllFeatures()
    {
      var features = ge.getFeatures();
      while (features.getLastChild() != null)
      {
        features.removeChild(features.getLastChild());
      }
    }
    $(document).ready(function () {
        $('#go').on('click', function (e) {
            e.preventDefault();

            var target = $('#target').val();
            var link = window.ge.createLink('');
            var href = 'http://' + window.location.host + '/api/kml/search?target=' + target;
            link.setHref(href);

            var networkLink = window.ge.createNetworkLink('');
            networkLink.set(link, true, true); // Sets the link, refreshVisibility, and flyToView

            RemoveAllFeatures()

            window.ge.getFeatures().appendChild(networkLink);
        });

        window.loadMaps = function () {
            google.load("earth", "1", {"callback": function () {
                    google.earth.createInstance('map3d', function (instance) {
                        window.ge = instance;
                        window.ge.getOptions().setMapType(ge.MAP_TYPE_SKY);
                        window.ge.getWindow().setVisibility(true);
                        var root = window.ge.getLayerRoot();
                        var folders = root.getElementsByType('KmlFolder').getLength();

                        for (var id = 0; id < folders; id++) {
                            // Get all the Folders in the root KML, and hide them
                            // This disables the constellations, messier, etc.
                            // Basically everything we don't care about
                            root.getElementsByType('KmlFolder').item(id).setVisibility(false)
                        }
                    }, function () {});
            }});
        };

        window.loadMaps();

        window.leapmotion_init = function () {
            var ws = new WebSocket('ws://localhost:6437/');
            // On message received
            ws.onmessage = recieveData;
        };

        window.leapmotion_init();
    });
    </script>
</body>
</html>
