<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="/static/js/controller.js"></script>
    <script type="text/javascript" src="/static/js/view.js"></script>
    <script type="text/javascript" src="/static/js/lib/select2/select2.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/js/lib/select2/select2.css" />
</head>
<body>
    <select id="target">
        <option>Select an object</option>
        <option value="2000 BM19">2000 BM19</option>
        <option value="1980 RC1">1980 RC1</option>
        <option value="1988 XB">1988 XB</option>
        <option value="1989 ML">1989 ML</option>
        <option value="1989 UQ">1989 UQ</option>
        <option value="1991 DB">1991 DB</option>
        <option value="1991 XB">1991 XB</option>
        <option value="1992 BF">1992 BF</option>
        <option value="1992 EU">1992 EU</option>
        <option value="1992 NA">1992 NA</option>
        <option value="1992 QN">1992 QN</option>
        <option value="1992 TC">1992 TC</option>
        <option value="1992 UB">1992 UB</option>
        <option value="1994 AH2">1994 AH2</option>
        <option value="1995 BC2">1995 BC2</option>
        <option value="1995 BL2">1995 BL2</option>
        <option value="1995 WQ5">1995 WQ5</option>
        <option value="1996 BZ3">1996 BZ3</option>
        <option value="1996 FG3">1996 FG3</option>
        <option value="1997 AC11">1997 AC11</option>
        <option value="1997 AQ18">1997 AQ18</option>
        <option value="1997 RT">1997 RT</option>
        <option value="1997 XF11">1997 XF11</option>
        <option value="1998 HT31">1998 HT31</option>
        <option value="1998 KU2">1998 KU2</option>
        <option value="1998 UT18">1998 UT18</option>
        <option value="1999 CW8">1999 CW8</option>
        <option value="1999 HF1">1999 HF1</option>
        <option value="1999 JD6">1999 JD6</option>
        <option value="1999 JM8">1999 JM8</option>
        <option value="1999 JU3">1999 JU3</option>
        <option value="1999 JV6">1999 JV6</option>
        <option value="1999 KV4">1999 KV4</option>
        <option value="1999 SE10">1999 SE10</option>
        <option value="1999 VN6">1999 VN6</option>
        <option value="1999 YK5">1999 YK5</option>
        <option value="2000 BG19">2000 BG19</option>
        <option value="2000 CE59">2000 CE59</option>
        <option value="2000 CK33">2000 CK33</option>
        <option value="2000 CN33">2000 CN33</option>
        <option value="2000 CO101">2000 CO101</option>
        <option value="2000 LC16">2000 LC16</option>
        <option value="2000 RW37">2000 RW37</option>
        <option value="2000 WC67">2000 WC67</option>
        <option value="2000 WJ10">2000 WJ10</option>
        <option value="2000 WK10">2000 WK10</option>
        <option value="2000 WL10">2000 WL10</option>
        <option value="2000 WO107">2000 WO107</option>
        <option value="2000 YH66">2000 YH66</option>
        <option value="2000 YO29">2000 YO29</option>
        <option value="2001 CC21">2001 CC21</option>
        <option value="2001 HA8">2001 HA8</option>
        <option value="2001 HK31">2001 HK31</option>
        <option value="2001 HW15">2001 HW15</option>
        <option value="2001 PD1">2001 PD1</option>
        <option value="2001 SG10">2001 SG10</option>
        <option value="2001 SJ262">2001 SJ262</option>
        <option value="2001 TY44">2001 TY44</option>
        <option value="2001 UC5">2001 UC5</option>
        <option value="2001 UY4">2001 UY4</option>
        <option value="2001 WH2">2001 WH2</option>
        <option value="2001 XS1">2001 XS1</option>
        <option value="2001 XS30">2001 XS30</option>
        <option value="2001 YK4">2001 YK4</option>
        <option value="2002 AD9">2002 AD9</option>
        <option value="2002 AH29">2002 AH29</option>
        <option value="2002 AL31">2002 AL31</option>
        <option value="2002 AU5">2002 AU5</option>
        <option value="2002 AV">2002 AV</option>
        <option value="2002 BM26">2002 BM26</option>
        <option value="2002 BP26">2002 BP26</option>
        <option value="2002 BP26">2002 BP26</option>
        <option value="2002 CE26">2002 CE26</option>
        <option value="2002 CS11">2002 CS11</option>
        <option value="2002 DH2">2002 DH2</option>
        <option value="2002 DO3">2002 DO3</option>
        <option value="2002 DY3">2002 DY3</option>
        <option value="2002 EA">2002 EA</option>
        <option value="2002 EC">2002 EC</option>
        <option value="2005 YU55">2005 YU55</option>
        <option value="A''Hearn">A''Hearn</option>
        <option value="Aegina">Aegina</option>
        <option value="Aethra">Aethra</option>
        <option value="Alexandra">Alexandra</option>
        <option value="Alvarez">Alvarez</option>
        <option value="Amalia">Amalia</option>
        <option value="Amy">Amy</option>
        <option value="Ani">Ani</option>
        <option value="Anteros">Anteros</option>
        <option value="Antiope">Antiope</option>
        <option value="Apollonia">Apollonia</option>
        <option value="Appenzella">Appenzella</option>
        <option value="Aquitania">Aquitania</option>
        <option value="Arachne">Arachne</option>
        <option value="Arsinoe">Arsinoe</option>
        <option value="Asterope">Asterope</option>
        <option value="Atalante">Atalante</option>
        <option value="Aurelia">Aurelia</option>
        <option value="Backlunda">Backlunda</option>
        <option value="Barto">Barto</option>
        <option value="Bathseba">Bathseba</option>
        <option value="Baucis">Baucis</option>
        <option value="Bavaria">Bavaria</option>
        <option value="Beatty">Beatty</option>
        <option value="Bede">Bede</option>
        <option value="Beira">Beira</option>
        <option value="Berbericia">Berbericia</option>
        <option value="Berry">Berry</option>
        <option value="Betulia">Betulia</option>
        <option value="Bezovec">Bezovec</option>
        <option value="Bilkis">Bilkis</option>
        <option value="Boury">Boury</option>
        <option value="Bower">Bower</option>
        <option value="Boznemcova">Boznemcova</option>
        <option value="Brangane">Brangane</option>
        <option value="Brixia">Brixia</option>
        <option value="Brubeck">Brubeck</option>
        <option value="Bryantsev">Bryantsev</option>
        <option value="Calingasta">Calingasta</option>
        <option value="Campania">Campania</option>
        <option value="Capek">Capek</option>
        <option value="Carlova">Carlova</option>
        <option value="Celuta">Celuta</option>
        <option value="Ceres">Ceres</option>
        <option value="Chaldaea">Chaldaea</option>
        <option value="Chloe">Chloe</option>
        <option value="Chloris">Chloris</option>
        <option value="Chukotka">Chukotka</option>
        <option value="Clarissa">Clarissa</option>
        <option value="Clifford">Clifford</option>
        <option value="Clorinde">Clorinde</option>
        <option value="Concordia">Concordia</option>
        <option value="Corduba">Corduba</option>
        <option value="Cornelia">Cornelia</option>
        <option value="d''Alembert">d''Alembert</option>
        <option value="Daphne">Daphne</option>
        <option value="Davida">Davida</option>
        <option value="Davidharvey">Davidharvey</option>
        <option value="Decaro">Decaro</option>
        <option value="Delia">Delia</option>
        <option value="Delila">Delila</option>
        <option value="Desiderata">Desiderata</option>
        <option value="Didymos">Didymos</option>
        <option value="Dionysus">Dionysus</option>
        <option value="Dolores">Dolores</option>
        <option value="DuBridge">DuBridge</option>
        <option value="Dugan">Dugan</option>
        <option value="Dunham">Dunham</option>
        <option value="Dynamene">Dynamene</option>
        <option value="Eger">Eger</option>
        <option value="Egeria">Egeria</option>
        <option value="Eichhorn">Eichhorn</option>
        <option value="Eichsfeldia">Eichsfeldia</option>
        <option value="Emita">Emita</option>
        <option value="Endymion">Endymion</option>
        <option value="Erato">Erato</option>
        <option value="Eugenisis">Eugenisis</option>
        <option value="Euphrosyne">Euphrosyne</option>
        <option value="Europa">Europa</option>
        <option value="Eva">Eva</option>
        <option value="Evelyn">Evelyn</option>
        <option value="Faina">Faina</option>
        <option value="Felicitas">Felicitas</option>
        <option value="Feodosia">Feodosia</option>
        <option value="Fini">Fini</option>
        <option value="Flammario">Flammario</option>
        <option value="Fortuna">Fortuna</option>
        <option value="Fowler">Fowler</option>
        <option value="Galatea">Galatea</option>
        <option value="Geichenko">Geichenko</option>
        <option value="Germania">Germania</option>
        <option value="Gregory">Gregory</option>
        <option value="Gressmann">Gressmann</option>
        <option value="Gyptis">Gyptis</option>
        <option value="Hamburga">Hamburga</option>
        <option value="Heckmann">Heckmann</option>
        <option value="Hedda">Hedda</option>
        <option value="Heracles">Heracles</option>
        <option value="Hersilia">Hersilia</option>
        <option value="Hippo">Hippo</option>
        <option value="Hispania">Hispania</option>
        <option value="Horky">Horky</option>
        <option value="Horn-d''Arturo">Horn-d''Arturo</option>
        <option value="Huenna">Huenna</option>
        <option value="Hygiea">Hygiea</option>
        <option value="Idelsonia">Idelsonia</option>
        <option value="Interamnia">Interamnia</option>
        <option value="Irma">Irma</option>
        <option value="Jekhovsky">Jekhovsky</option>
        <option value="Jo-Ann">Jo-Ann</option>
        <option value="Julia">Julia</option>
        <option value="Jupiter">Jupiter</option>
        <option value="Kaho">Kaho</option>
        <option value="Kanaya">Kanaya</option>
        <option value="Kani">Kani</option>
        <option value="Kemi">Kemi</option>
        <option value="Klio">Klio</option>
        <option value="Kodaira">Kodaira</option>
        <option value="Kolga">Kolga</option>
        <option value="Kridsadaporn">Kridsadaporn</option>
        <option value="Laurentia">Laurentia</option>
        <option value="Lawrence">Lawrence</option>
        <option value="Leonardo">Leonardo</option>
        <option value="Letaba">Letaba</option>
        <option value="Leukothea">Leukothea</option>
        <option value="Levitan">Levitan</option>
        <option value="Liguria">Liguria</option>
        <option value="Lilaea">Lilaea</option>
        <option value="Lilio">Lilio</option>
        <option value="Lilliputia">Lilliputia</option>
        <option value="Loreley">Loreley</option>
        <option value="Lotis">Lotis</option>
        <option value="Lova">Lova</option>
        <option value="Lucianotesi">Lucianotesi</option>
        <option value="Lucina">Lucina</option>
        <option value="Luisa">Luisa</option>
        <option value="Lumen">Lumen</option>
        <option value="Lunacharsky">Lunacharsky</option>
        <option value="Madreteresa">Madreteresa</option>
        <option value="Maisica">Maisica</option>
        <option value="Maja">Maja</option>
        <option value="Makharadze">Makharadze</option>
        <option value="Marghanna">Marghanna</option>
        <option value="Mathilde">Mathilde</option>
        <option value="Megaira">Megaira</option>
        <option value="Melanie">Melanie</option>
        <option value="Miriam">Miriam</option>
        <option value="Misa">Misa</option>
        <option value="Moira">Moira</option>
        <option value="Montague">Montague</option>
        <option value="Nansenia">Nansenia</option>
        <option value="Nemausa">Nemausa</option>
        <option value="Nephele">Nephele</option>
        <option value="Nereus">Nereus</option>
        <option value="Nicole">Nicole</option>
        <option value="Nora">Nora</option>
        <option value="Opik">Opik</option>
        <option value="Orchis">Orchis</option>
        <option value="Osiris">Osiris</option>
        <option value="Oskar">Oskar</option>
        <option value="Ostro">Ostro</option>
        <option value="Paavo Nurmi">Paavo Nurmi</option>
        <option value="Pallas">Pallas</option>
        <option value="Palma">Palma</option>
        <option value="Paola">Paola</option>
        <option value="Parks">Parks</option>
        <option value="Parvulesco">Parvulesco</option>
        <option value="Paulharris">Paulharris</option>
        <option value="Pax">Pax</option>
        <option value="Peraga">Peraga</option>
        <option value="Phaethon">Phaethon</option>
        <option value="Pirola">Pirola</option>
        <option value="Pluto">Pluto</option>
        <option value="Polana">Polana</option>
        <option value="Popov">Popov</option>
        <option value="Poseidon">Poseidon</option>
        <option value="Pyotr Pervyj">Pyotr Pervyj</option>
        <option value="Ra-Shalom">Ra-Shalom</option>
        <option value="Rebekka">Rebekka</option>
        <option value="Roberta">Roberta</option>
        <option value="Robeson">Robeson</option>
        <option value="Rockholt">Rockholt</option>
        <option value="Rudra">Rudra</option>
        <option value="Rufino">Rufino</option>
        <option value="Russia">Russia</option>
        <option value="Sanguin">Sanguin</option>
        <option value="Sapientia">Sapientia</option>
        <option value="Sarema">Sarema</option>
        <option value="Sayers">Sayers</option>
        <option value="Sazava">Sazava</option>
        <option value="Seleucus">Seleucus</option>
        <option value="Semele">Semele</option>
        <option value="Siegena">Siegena</option>
        <option value="Sigurd">Sigurd</option>
        <option value="Sophrosyne">Sophrosyne</option>
        <option value="Storeria">Storeria</option>
        <option value="Svea">Svea</option>
        <option value="Swann">Swann</option>
        <option value="Tamara">Tamara</option>
        <option value="Tangshan">Tangshan</option>
        <option value="Tapio">Tapio</option>
        <option value="Tarkovskij">Tarkovskij</option>
        <option value="Tatry">Tatry</option>
        <option value="Tauris">Tauris</option>
        <option value="Tercidina">Tercidina</option>
        <option value="Thia">Thia</option>
        <option value="Thisbe">Thisbe</option>
        <option value="Vangelis">Vangelis</option>
        <option value="Vernadskij">Vernadskij</option>
        <option value="Vesta">Vesta</option>
        <option value="Vibilia">Vibilia</option>
        <option value="Vienna">Vienna</option>
        <option value="Viola">Viola</option>
        <option value="Vishnu">Vishnu</option>
        <option value="Walkure">Walkure</option>
        <option value="Weissman">Weissman</option>
        <option value="Westphalia">Westphalia</option>
        <option value="Wilhelmina">Wilhelmina</option>
        <option value="Winchester">Winchester</option>
        <option value="Xanthippe">Xanthippe</option>
        <option value="Zao">Zao</option>
        <option value="Zelinda">Zelinda</option>
        <option value="Zwetana">Zwetana</option>
    </select>
    <div id="map3d" style="height: 95%; width: 100%; margin-top: 10px;"></div>
    <script>
    var results = {};
    function RemoveAllFeatures()
    {

        var root = window.ge.getLayerRoot();
        var folders = root.getElementsByType('KmlFolder').getLength();

        for (var id = 0; id < folders; id++) {
            // Get all the Folders in the root KML, and hide them
            // This disables the constellations, messier, etc.
            // Basically everything we don't care about
            root.getElementsByType('KmlFolder').item(id).setVisibility(false)
        }

        var features = ge.getFeatures();
        while (features.getLastChild() != null)
        {
        features.removeChild(features.getLastChild());
        }
    }
    $(document).ready(function () {
        $('#target').select2({
            placeholder: "Pick an object",
            width: "300px"
        });
        $('#target').on('change', function (e) {
            var target = $('#target').val();
            var link = window.ge.createLink('');
            var href = 'http://' + window.location.host + '/api/kml/search?target=' + target;

            // Show loading:
            // TODO
            // Pre-cache URL:
            $.ajax({
                type: 'GET',
                url: href,
                success: function() {
                    //TODO: remove loading
                },
                error: function() {
                    //TODO: remove loading, show error
                }
            });

            link.setHref(href);

            var networkLink = window.ge.createNetworkLink('');
            networkLink.set(link, true, true); // Sets the link, refreshVisibility, and flyToView

            RemoveAllFeatures()

            window.ge.getFeatures().appendChild(networkLink);
        });

        window.loadMaps = function () {
            google.load("earth", "1", {"callback": function () {
                    google.earth.createInstance('map3d', function (instance) {
                        window.ge = instance;
                        window.ge.getOptions().setMapType(ge.MAP_TYPE_SKY);
                        window.ge.getWindow().setVisibility(true);
                    }, function () {});
            }});
        };

        window.loadMaps();

        window.leapmotion_init = function () {
            var ws = new WebSocket('ws://localhost:6437/');
            // On message received
            ws.onmessage = recieveData;
        };

        window.leapmotion_init();
    });
    </script>
</body>
</html>
